<p-panel header="Basics Pipes" class="p-2">
  <p>Pipes included in Angular, usually in the common module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Pipe: uppercase" [subheader]="nameLowercase">
      {{ nameLowercase | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Pipe: lowercase" [subheader]="nameUppercase">
      {{ nameUppercase | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Pipe: titlecase" [subheader]="nameRandomStyle">
      {{ nameRandomStyle | titlecase }}
    </p-card>
  </div>

  <div class="col-12">
    <p-card header="Pipe: date">
      <ul>
        <li><strong>Current Date ➡️</strong> {{ currentDate }}</li>
        <li>
          <strong>Current Date | date ➡️</strong> {{ currentDate | date }}
        </li>
        <li>
          <strong>Current Date | date : "short" ➡️</strong>
          {{ currentDate | date : "short" }}
        </li>
        <li>
          <strong>Current Date | date : "shortDate" ➡️</strong>
          {{ currentDate | date : "shortDate" }}
        </li>
        <li>
          <strong>Current Date | date : "long" ➡️</strong>
          {{ currentDate | date : "long" }}
        </li>
        <li>
          <strong>Current Date | date : "fullDate" ➡️</strong>
          {{ currentDate | date : "fullDate" }}
        </li>
        <li>
          <strong>Current Date | date : "MMMM" ➡️</strong>
          {{ currentDate | date : "MMMM" }}
        </li>
        <li>
          <strong>Current Date | date : "MMMM dd, yy" ➡️</strong>
          {{ currentDate | date : "MMMM dd, yy" }}
        </li>
      </ul>

      <hr />

      <ul>
        <li>
          <strong>Current Date | date : "long" : "GMT-6" ➡️</strong>
          {{ currentDate | date : "long" : "GMT-6" }}
        </li>
        <li>
          <strong>Current Date | date : "long" : "GMT-4" ➡️</strong>
          {{ currentDate | date : "long" : "GMT-4" }}
        </li>
      </ul>
    </p-card>
  </div>
</div>
