<p-panel header="Basics Pipes" class="p-2">
  <p>Pipes included in Angular, usually in the common module</p>
</p-panel>

<p-panel header="Pipes Puros e Impuros" class="p-2">
  <p>
    Los pipes puros e impuros son un concepto esencial en Angular y tienen un
    impacto significativo en el rendimiento de una aplicación.
  </p>
  <ul>
    <li>
      Los pipes puros se ejecutan solo cuando cambian los argumentos que
      reciben, lo que significa que la transformación solo se realiza cuando es
      necesario.
    </li>
    <li>
      Los pipes impuros se ejecutan cada vez que hay un cambio en la aplicación,
      lo que podría afectar el rendimiento si se utilizan incorrectamente.
    </li>
  </ul>
  <p>
    Un caso de uso común para la memorización de pipes es cuando se tienen datos
    que no cambian con frecuencia, como listas de usuarios o datos estáticos. En
    lugar de recalcular la transformación cada vez que se renderiza el
    componente, podemos emplear un pipe puro con memorización para almacenar en
    caché los resultados y evitar cálculos innecesarios.
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Pipe: uppercase" [subheader]="nameLowercase">
      {{ nameLowercase | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Pipe: lowercase" [subheader]="nameUppercase">
      {{ nameUppercase | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Pipe: titlecase" [subheader]="nameRandomStyle">
      {{ nameRandomStyle | titlecase }}
    </p-card>
  </div>

  <div class="col-12">
    <p-card header="Pipe: date">
      <ul>
        <li><strong>Current Date ➡️</strong> {{ currentDate }}</li>
        <li>
          <strong>Current Date | date ➡️</strong> {{ currentDate | date }}
        </li>
        <li>
          <strong>Current Date | date : "short" ➡️</strong>
          {{ currentDate | date : "short" }}
        </li>
        <li>
          <strong>Current Date | date : "shortDate" ➡️</strong>
          {{ currentDate | date : "shortDate" }}
        </li>
        <li>
          <strong>Current Date | date : "long" ➡️</strong>
          {{ currentDate | date : "long" }}
        </li>
        <li>
          <strong>Current Date | date : "fullDate" ➡️</strong>
          {{ currentDate | date : "fullDate" }}
        </li>
        <li>
          <strong>Current Date | date : "MMMM" ➡️</strong>
          {{ currentDate | date : "MMMM" }}
        </li>
        <li>
          <strong>Current Date | date : "MMMM dd, yy" ➡️</strong>
          {{ currentDate | date : "MMMM dd, yy" }}
        </li>
      </ul>

      <hr />

      <ul>
        <li>
          <strong>Current Date | date : "long" : "GMT-6" ➡️</strong>
          {{ currentDate | date : "long" : "GMT-6" }}
        </li>
        <li>
          <strong>Current Date | date : "long" : "GMT-4" ➡️</strong>
          {{ currentDate | date : "long" : "GMT-4" }}
        </li>
        <li>
          <!-- <strong>Current Date | date : "long" ➡️</strong> -->
          <!-- {{ currentDate | date : "long" }} (Inglés por defecto) -->

          <strong>Current Date | date : "long" : "en-US" ➡️</strong>
          {{ currentDate | date : "long" : "en-US" }} (Inglés por defecto)
        </li>
        <li>
          <!-- si está vacío el campo entonces toma la configuración por defecto de ese campo -->
          <strong>Current Date | date : "long" : "" : "es-MX" ➡️</strong>
          {{ currentDate | date : "long" : "" : "es-MX" }} (Español)
        </li>
        <li>
          <!-- si está vacío el campo entonces toma la configuración por defecto de ese campo -->
          <strong>Current Date | date : "long" : "" : "fr-CA" ➡️</strong>
          {{ currentDate | date : "long" : "" : "fr-CA" }} (Francés)
        </li>
      </ul>
    </p-card>
  </div>
</div>
